<!DOCTYPE html>
<html lang="es">

<head>
    <title>BanBif - Ahorro Programado </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-language" content="es">
</head>

<body>
<table class="x_x_MsoNormalTable" style="width: 100.0%" border="0" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td style="padding: 0cm 0cm 0cm 0cm">
            <div align="center">
                <table class="x_x_MsoNormalTable" style="width: 495.0pt; background: #F8F8F8" border="0"
                       width="729" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td style="padding: 0cm 0cm 0cm 0cm">
                            <table class="x_x_MsoNormalTable" style="width: 100.0%; background: white"
                                   border="0" width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td style="padding: 0cm 0cm 0cm 0cm">
                                        <p class="x_x_MsoNormal" style="text-align: center" align="center">
                                            <span style="font-size: 7.5pt">&nbsp; </span>
                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 67.5pt">
                                    <td style="background: #0096D7; padding: 0cm 0cm 0cm 0cm; height: 67.5pt">
                                        <p class="x_x_MsoNormal">
                                            <img id="_x0000_i1025" alt="BANBIF" src="http://i.imgur.com/6PjIx2t.png">
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0cm 0cm 0cm 0cm">
                                        <img id="_x0000_i1026"
                                             src="http://i.imgur.com/0WOQ8cR.png">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 495.0pt; border: none; border-bottom: solid #E3E2E2 1.0pt; padding: 7.5pt 15.0pt 22.5pt 30.0pt"
                                        width="729">
                                        <p class="x_x_MsoNormal">
                                            <strong><span>Ahorro Programado – Transferencia Parcialmente Realizada</span></strong>
                                            <span></span>
                                        </p>
                                        <p class="x_x_MsoNormal">
                                            <span style="font-size: 9pt; font-family: 'Verdana', sans-serif; color: #8a8a8a"></span>
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0cm 0cm 0cm 0cm" valign="top">
                            <table class="x_x_MsoNormalTable"
                                   style="width: 495.0pt; background: white; border: none; border-bottom: solid #E3E2E2 1.0pt"
                                   border="1" width="729" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td style="border: none; padding: 1.35pt 15.0pt 1.35pt 30.0pt">
                                        <table class="x_x_MsoNormalTable" style="width: 100.0%"
                                               border="0" width="100%" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td style="width: 50.0%; border: none; border-bottom: solid #CCCCCC 1.0pt; background: white; padding: 7.5pt 1.5pt 3.75pt 0cm"
                                                    colspan="2" nowrap="nowrap" width="50%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 11.5pt; font-family: 'Verdana', sans-serif; color: #0097a7"> 
                                                                Información de la Programación
                                                        </span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 20.0%; background: white; padding: 3.75pt 7.5pt 0cm 0cm" width="20%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 9.0pt; font-family: 'Verdana', sans-serif; color: #8a8a8a">
                                                                Cliente
                                                        </span>
                                                    </p>
                                                </td>
                                                <td style="width: 50.0%; padding: 3.75pt 3.75pt 0cm 7.5pt" width="50%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 10.0pt; font-family: 'Verdana', sans-serif; color: #333333">
                                                                ${NOMBRE_CLIENTE}
                                                        </span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 20.0%; background: white; padding: 3.75pt 7.5pt 0cm 0cm" width="20%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 9.0pt; font-family: 'Verdana', sans-serif; color: #8a8a8a">
                                                                Nombre Ahorro
                                                        </span>
                                                    </p>
                                                </td>
                                                <td style="width: 50.0%; padding: 3.75pt 3.75pt 0cm 7.5pt" width="50%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 10.0pt; font-family: 'Verdana', sans-serif; color: #333333">
                                                                ${NOMBRE_AHORRO}
                                                        </span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 20.0%; background: white; padding: 3.75pt 7.5pt 0cm 0cm" width="20%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 9.0pt; font-family: 'Verdana', sans-serif; color: #8a8a8a">
                                                                Cuenta Origen
                                                        </span>
                                                    </p>
                                                </td>
                                                <td style="width: 50.0%; padding: 3.75pt 3.75pt 0cm 7.5pt" width="50%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 10.0pt; font-family: 'Verdana', sans-serif; color: #333333">
                                                                ${CUENTA_ORIGEN}
                                                        </span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 20.0%; background: white; padding: 3.75pt 7.5pt 0cm 0cm" width="20%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 9.0pt; font-family: 'Verdana', sans-serif; color: #8a8a8a">
                                                                Cuenta Destino
                                                        </span>
                                                    </p>
                                                </td>
                                                <td style="width: 50.0%; padding: 3.75pt 3.75pt 0cm 7.5pt" width="50%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 10.0pt; font-family: 'Verdana', sans-serif; color: #333333">
                                                                ${CUENTA_DESTINO}
                                                        </span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 20.0%; background: white; padding: 3.75pt 7.5pt 0cm 0cm" width="20%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 9.0pt; font-family: 'Verdana', sans-serif; color: #8a8a8a">
                                                                Monto Ahorrado
                                                        </span>
                                                    </p>
                                                </td>
                                                <td style="width: 50.0%; padding: 3.75pt 3.75pt 0cm 7.5pt" width="50%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 10.0pt; font-family: 'Verdana', sans-serif; color: #333333">
                                                                ${SALDO_DISPONIBLE}
                                                        </span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 20.0%; background: white; padding: 3.75pt 7.5pt 0cm 0cm" width="20%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 9.0pt; font-family: 'Verdana', sans-serif; color: #8a8a8a">
                                                                Monto a Ahorrar
                                                        </span>
                                                    </p>
                                                </td>
                                                <td style="width: 50.0%; padding: 3.75pt 3.75pt 0cm 7.5pt" width="50%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 10.0pt; font-family: 'Verdana', sans-serif; color: #333333">
                                                                ${MONTO_POR_AHORRA}
                                                        </span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 20.0%; background: white; padding: 3.75pt 7.5pt 0cm 0cm" width="20%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 9.0pt; font-family: 'Verdana', sans-serif; color: #8a8a8a">
                                                                Frecuencia
                                                        </span>
                                                    </p>
                                                </td>
                                                <td style="width: 50.0%; padding: 3.75pt 3.75pt 0cm 7.5pt" width="50%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 10.0pt; font-family: 'Verdana', sans-serif; color: #333333">
                                                                ${FRECUENCIA_AHORRO}
                                                        </span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 20.0%; background: white; padding: 3.75pt 7.5pt 0cm 0cm" width="20%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 9.0pt; font-family: 'Verdana', sans-serif; color: #8a8a8a">
                                                                Ciclo de Vida
                                                        </span>
                                                    </p>
                                                </td>
                                                <td style="width: 50.0%; padding: 3.75pt 3.75pt 0cm 7.5pt" width="50%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 10.0pt; font-family: 'Verdana', sans-serif; color: #333333">
                                                                ${CICLO_VIDA}
                                                        </span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 20.0%; background: white; padding: 3.75pt 7.5pt 0cm 0cm" width="20%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 9.0pt; font-family: 'Verdana', sans-serif; color: #8a8a8a">
                                                                Fecha y Hora
                                                        </span>
                                                    </p>
                                                </td>
                                                <td style="width: 50.0%; padding: 3.75pt 3.75pt 0cm 7.5pt" width="50%">
                                                    <p class="x_x_MsoNormal">
                                                        <span style="font-size: 10.0pt; font-family: 'Verdana', sans-serif; color: #333333">
                                                                ${FECHA_FIN}
                                                        </span>
                                                    </p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: none; border-bottom: solid #CCCCCC 1.0pt; padding: 1.35pt 15.0pt 1.35pt 30.0pt">
                                        <p class="x_x_MsoNormal">
                                            &nbsp;
                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 37.5pt">
                                    <td style="border: none; border-bottom: solid #E6E5E5 1.0pt; padding: 1.35pt 15.0pt 1.35pt 30.0pt; height: 37.5pt">
                                        <p class="x_x_MsoNormal" style="text-align: center" align="center">
                                            <span style="font-size: 9.0pt; font-family: 'Verdana', sans-serif; color: #8a8a8a">
                                                Banca Telefónica: Lima (01) 631-9000 Provincias 0-801-0-0456.
                                                Banca Telefónica Empresas: <br>Lima (01) 625-3333 Provincias
                                                0-801-0-0457
                                            </span>
                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 30.0pt">
                                    <td style="border: none; padding: 1.35pt 15.0pt 1.35pt 30.0pt; height: 30.0pt">
                                        <p class="x_x_MsoNormal" style="text-align: center" align="center">
                                            <span style="font-size: 8.5pt; font-family: 'Verdana', sans-serif; color: #8a8a8a">Nota:
                                                Este e-mail es generado de manera automática, por favor
                                                no responda a este mensaje.
                                            </span>
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0cm 0cm 0cm 0cm" valign="top">
                            <p class="x_x_MsoNormal">
                                &nbsp;
                                <!-- node type 8 -->
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>